<ion-grid>
    <ion-row>

      <ion-col col-6>
        <ion-card padding  (click)="navigateToUser()">
          <img src="../../../assets/img/sabritas.jpg"/>
          <ion-card-title><h2>Sabritas</h2></ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card padding>
          <img src="../../../assets/img/refrescos.jpg" />
          <ion-card-title><h2>Refrescos</h2></ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card padding>
          <img src="../../../assets/img/bimbo.jpg" />
          <ion-card-title><h2>Bimbo</h2></ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card padding>
          <img src="../../../assets/img/cervezas.jpg" />
          <ion-card-title><h2>Cervezas</h2></ion-card-title>
        </ion-card>
      </ion-col>

    </ion-row>
</ion-grid>