
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card padding  (click)="navigateToUser()">
          <img src="../../../assets/img/1S.jpg"/>
          <IonCardTitle>Sabritas</IonCardTitle> <br>
          <IonCardContent>
            800 g. <br>
            $ 30.00
          </IonCardContent>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card padding>
          <img src="../../../assets/img/2S.jpg" />
          <IonCardTitle>Rancheritos</IonCardTitle> <br>
          <IonCardContent>
            300 g. <br>
            $ 15.00
          </IonCardContent>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card padding>
          <img src="../../../assets/img/3S.jpg" />
          <IonCardTitle>Chetos</IonCardTitle> <br>
          <IonCardContent>
            250 g. <br>
            $ 10.00
          </IonCardContent>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card padding>
          <img src="../../../assets/img/4S.jpg" />
          <IonCardTitle>Churrumais</IonCardTitle> <br>
          <IonCardContent>
            100 g. <br>
            $ 8.00
          </IonCardContent>
        </ion-card>
      </ion-col>

      <ion-col col-6>
      </ion-col>
      <ion-col col-6>
      </ion-col>
      
    </ion-row>
  </ion-grid>

