<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Lista de precios
        </ion-title>
    </ion-toolbar>

  </ion-header>
  <section>
    <h2>Categorías</h2>
  </section>
  
  <app-show-categoria></app-show-categoria>

  <ion-footer>
      <ion-toolbar>
          <ion-title>Total: $ 0.00</ion-title>
      </ion-toolbar>
    </ion-footer>

    <app-show-categoria></app-show-categoria>

    <IonFooter>
        <IonToolbar>
            <IonTitle>Total: $ 0.00</IonTitle>
        </IonToolbar>
    </IonFooter>
</ion-content>