<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-list-header>
      <ion-label> <h2> Nombre </h2> </ion-label>
      <ion-label> <h2> Cantidad </h2> </ion-label>
      <ion-label> <h2> Costo </h2> </ion-label>
      <ion-label> <h2> Subtotal </h2> </ion-label>
    </ion-list-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Ventas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-slides [options]="slideOpts" *ngIf="firebase.prodsSeleccionados.length === 0" mode="ios" scrollbar="ios">
    <ion-slide>
        <h1> No hay productos seleccionados </h1>
    </ion-slide>
  </ion-slides>

  <ion-list #lista>
    <ion-item-sliding *ngFor="let item of firebase.prodsSeleccionados">
      <ion-item>
        <ion-label class="textoFull"> {{ item.nombre }} </ion-label>
        <ion-label> {{ item.cantidad }} </ion-label>
        <ion-label style="margin-left: 22px;"> {{ item.costo }}</ion-label>
        <ion-label> {{ item.cantidad * item.costo }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarProducto(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="editarProducto(item)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>



<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="text-center "> <h2> Total: {{ firebase.total }} </h2>  </ion-title>
    <ion-button (click)="realizarVenta()" color="primary" expand="block">
      Realizar venta
    </ion-button>
    <ion-button (click)="cancelarVenta()" color="danger" expand="block">
      Cancelar venta
    </ion-button>

  </ion-toolbar>
</ion-footer>
