<ion-header>
  <ion-toolbar>
    <ion-title> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="border">
      <ion-col class="texto-truncado" size="6">
        <ion-list>
          <ion-item>
            <ion-text> 
              <h3> Nombre: </h3>  
              <p> {{ nombre }} </p> 
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h3>Contenido</h3>
              <p> {{ contenido }} </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text *ngIf="operacion === 'agregar'">
              <h3>Cantidad a comprar</h3>
              <p> {{ cantidad }} </p>
            </ion-text>
            <ion-text *ngIf="operacion === 'eliminar'">
              <h3>Cantidad comprada</h3>
              <p> {{ cantidadComprada }} </p>
            </ion-text>
            <ion-text *ngIf="operacion === 'editar'">
              <h3>Cantidad</h3>
              <p> {{ cantidad }} </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h3>Precio</h3>
              <p> {{ costo }} </p>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-text>
          <h3>{{ subtitulo }}</h3>
        </ion-text>
        
        <div class="dropdown">
          <input [(ngModel)]="cantidad" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" type="number" />
          <select [(ngModel)]="cantidad">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
          <ion-button expand="block" color="danger" size="large" (click)="Cancelar()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="success" size="large" (click)="Aceptar()">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


